<nav class="links fadeIn animated">
    <ul>
        {{!-- <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li> --}}
        <li class="500px"><a title="500px" href="https://500px.com/emmmile"><i class="fa fa-fw fa-500px"></i></a></li>
        <li class="instagram"><a title="Instagram" href="https://instagram.com/emilio.deltessa"><i class="fa fa-fw fa-instagram"></i></a></li>
        {{!-- <li class="linkedin"><a title="Linkedin" href=""><i class="fa fa-fw fa-linkedin-square"></i></a></li> --}}
        {{!-- <li class="github"><a title="GitHub" href=""><i class="fa fa-fw fa-github-square"></i></a></li> --}}
        <li class="facebook"><a title="Facebook" href="https://www.facebook.com/emmmile"><i class="fa fa-fw fa-facebook-square"></i></a></li>
        <li class="google"><a title="Google+" href="https://plus.google.com/108173806632442962476"><i class="fa fa-fw fa-google-plus-square"></i></a></li>
    </ul>
</nav>